html {
  position: relative;
  min-height: 100%;
}
body{
  font-family: Cambria, Georgia, serif;
  color: black;
  background: #efefef; /* Old browsers */
  padding-top: 30px;
}

h1{
	font-style: italic;
	letter-spacing: -1px;              	
}

legend{  
  font-size: 20px;
  font-style: italic; 
  color:#000;  
}
.date-input-buttons{
  float:right;
  margin-top: 8px;
}
 
.logo{
  width: 70%;
}

/*Rodapé do Site*/
.main{
  padding-bottom: 450px;
}
.final{
  margin-top: 35px;
}
footer{
  margin: 0 auto;  
  position: absolute;
  bottom: 0px;  
  width: 100%;
  height: 25px; 
  margin-left: auto;
  margin-right: auto; 
}

/*Css que se aplica em celulares*/
.radioee{
  float: left;
  width: 18px;
  height: 18px !important; 
}

div+fieldset{  
  margin-top: 100px;
}
.btncfp{
  font-size: 18px;
   
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
  border-radius: 24px;
}

.nome_usuario{
  font-size: 12px;
  text-align: right;
}


/*Css que se aplica somente em tablets e desktop*/
@media (min-width: 768px) {
  .main{
  padding-bottom: 135px;
  }
  .ee{
  margin-bottom: 10px;      
  width: 73% !important;
  height: 35px !important;
  padding: 0 5px;
  float: left;            
  }
  .radioee{
    margin-bottom: 10px;          
    width: 18px;
    height: 18px !important;
    padding: 0 5px;
    float: left;     
  }
  .btncfp{    
    float: left;
    text-align: center;
    width: 48%;    
  }
}